@font-face {
  font-family: "iconfont"; /* Project id 2832482 */
  src: url('iconfont.woff2?t=1632732785308') format('woff2'),
       url('iconfont.woff?t=1632732785308') format('woff'),
       url('iconfont.ttf?t=1632732785308') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-shanchutianchong:before {
  content: "\e68c";
}

.icon-HRrenshirenshiguanli:before {
  content: "\e62c";
}

.icon-tuichudenglu:before {
  content: "\e605";
}

